<link
  href="//db.onlinewebfonts.com/c/c455d94eee43dc4ceeb83c0c0fd0d4c8?family=Segoe+Print"
  rel="stylesheet"
  type="text/css"
/>

<nav class="navbar navbar-expand navbar">
  <a routerLink="/login">
    <img
      src="assets/cowboygenius.png"
      alt=""
      width="65"
      height="65"
      alpha="0.5"
      id="logo"
    />
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="btn btn-light" routerLink="/cowboy-genius"> Quem somos </a>
      </li>
      <li class="nav-item">
        <a class="btn btn-light" routerLink="/partners">Parcerias</a>
      </li>
    </ul>
  </div>
</nav>

<div class="imgcontainer">
  <h3>Cadastro</h3>
</div>

<div class="container">
  <label for="uname"><b>Usuário</b></label>
  <input type="text" placeholder="Insira seu e-mail" name="uname" required />

  <label for="uname"><b>E-mail</b></label>
  <input type="text" placeholder="Insira seu e-mail" name="uname" required />

  <label for="psw"><b>Senha</b></label>
  <input type="password" placeholder="Senha" name="psw" required />

  <label for="psw"><b>Confirme sua senha</b></label>
  <input
    type="password"
    placeholder="Digite a senha novamente"
    name="psw"
    required
  />

  <label>
    <input type="checkbox" checked="checked" name="studant" /> Sou estudante
  </label>

  <button type="submit" routerLink="/home">Registrar-me</button>
</div>
