<link
  href="//db.onlinewebfonts.com/c/c455d94eee43dc4ceeb83c0c0fd0d4c8?family=Segoe+Print"
  rel="stylesheet"
  type="text/css"
/>

<nav class="navbar navbar-expand navbar">
  <a routerLink="/home">
    <img
      src="assets/cowboygenius.png"
      alt=""
      width="65"
      height="65"
      alpha="0.5"
      id="logo"
    />
  </a>
</nav>

<div class="imgcontainer">
  <h3>Questionário</h3>
</div>

<div class="container">
  <label for="uname"><b>Usuário</b></label>
  <input type="text" placeholder="E-mail" name="uname" required />

  <label for="psw"><b>Senha</b></label>
  <input type="password" placeholder="Senha" name="psw" required />

  <button routerLink="/home">Entrar</button>
  <label>
    <input type="checkbox" checked="checked" name="remember" /> Lembrar senha
  </label>
</div>

<div class="container" style="background-color: #f1f1f1">
  <span class="psw">Esqueceu sua <a href="#">senha?</a></span>
</div>
