<link
  href="//db.onlinewebfonts.com/c/c455d94eee43dc4ceeb83c0c0fd0d4c8?family=Segoe+Print"
  rel="stylesheet"
  type="text/css"
/>

<nav class="navbar navbar-expand navbar">
  <a routerLink="/home">
    <img
      src="assets/cowboygenius.png"
      alt=""
      width="65"
      height="65"
      alpha="0.5"
      id="logo"
    />
  </a>
</nav>

<div class="imgcontainer">
  <h3>Questionário</h3>
</div>

<!--

<form #addressForm="ngForm" class="container mt-3" (ngSubmit)="logValue()">
  <section *ngFor="let question of questions; let i = index">
    <label>Pergunta</label>
    <input
      type="text"
      [(ngModel)]="questions.question"
      name="question_{{ i }}"
    />
    <label>Alternativa 1</label>
    <input
      type="text"
      [(ngModel)]="questions.answare1"
      name="answare1_{{ i }}"
    />
    <label>Alternativa 2</label>
    <input
      type="text"
      [(ngModel)]="questions.answare2"
      name="answare2_{{ i }}"
    />
    <label>Alternativa 3</label>
    <input
      type="text"
      [(ngModel)]="questions.answare3"
      name="answare3_{{ i }}"
    />
    <label>Alternativa 4</label>
    <input
      type="text"
      [(ngModel)]="questions.answare3"
      name="answare4_{{ i }}"
    />
    <label>Alternativa </label>

    <select
      [(ngModel)]="questions.rightAnsware"
      name="rightAnsware_{{ i }}"
      placeholder="Resposta correta"
    >
      <option value="answare1_{{ i }}">answare1_{{ i }}</option>
      <option value="answare2_{{ i }}">answare1_{{ i }}</option>
      <option value="answare3_{{ i }}">answare1_{{ i }}</option>
      <option value="answare4_{{ i }}">answare1_{{ i }}</option>
    </select>
  </section>
</form>
-->
